<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/link') %>
    <style>
      
        body, html {
      height: 100%;
      background-color: black;
    }
    .center-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    textarea {
      width: 370px;
      height: 370px;
      background-color: blue;
    }
    </style>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <form  action="/addBlog" method="post" enctype="multipart/form-data">   
        <label style="color: white ;background-color: grey; margin-top: 20px;">Enter Cover image</label>
        <input type="file" name="coverImgURl" style="background-color: grey;margin-top: 20px;border-radius: 10%;"/>
        <button type="submit" style="margin-top: 20px">Upload</button>

        <div class="center-container"mt-0 ;">
    <h2 class="text-center mb-4"><input type="text" name="title" placeholder="Title" style="background-color: blue;color: white;"></h2>
    <textarea class="form-control" name="body" placeholder="Start here..." style="background-color:purple ;color: white;"></textarea>
  </div>    
  <div style="align-items: center;padding-left: 5;"><button type="submit">Save</button></div>
    </form>

  <%- include('./partials/script') %>
</body>
</html>